body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #586276;
    overflow: hidden;
}

header {
    display: flex;
    width: 101%;
    margin-left: -7px;
    height: 120px;
    margin-top: -8px;
    background: #F5793B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .menu {
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        height: auto;
    }
}

.contlog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.logo {
    width: 222px;
    height: 74px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 1s;
    margin: 0 auto;
}


.logo:hover {
    transform: scale(1.1);

}


.menu {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 138px;
    height: 41px;
    background: #D9D9D9;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
}

article {
    display: flex;
    height: 585px;
}

.art {
    display: flex;
    height: 585px;
    justify-content: center;
    align-items: center;
    width: 80%;
    z-index: 1;
    text-decoration: none;
}

.apart {
    border: 5px solid #F5793B;
    width: 913px;
    height: 214px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(chica-haciendo-deporte-foto-freepik.jpeg);
    background-size: cover;
}

.tit {
    width: 913px;
    height: 214px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    /* Hace que el texto sea transparente */
    -webkit-text-fill-color: transparent;
    /* Color de relleno transparente para Safari */
    -webkit-text-stroke: 2px white;
    /* Contorno blanco de 2px */
    background-image: url(fire-heart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    /* Propiedad específica para WebKit (Safari, Chrome) */
    background-clip: text;
    /* Para navegadores que admiten la propiedad background-clip */
    -webkit-text-stroke: 1px white;
    /* Contorno blanco de 1px para el exterior del texto */
    -webkit-text-stroke-width: 1px;
    /* Grosor del contorno */
    -webkit-text-fill-color: transparent;
    /* Color de relleno transparente para Safari */
    transition: transform 1s;
}

.apart:hover {
    transform: scale(1.1);
}